/********** inicio ***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(255, 252, 251); 
    color: #752424; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
  
}

header {
    background-color: rgb(79, 86, 94); 
    color: #ffffff; 
    padding: 20px; 
    
}
.icono  {
    background-color: rgb(33, 32, 31);
    border-radius: 100px;
    border: 3px solid rgb(122, 99, 99);
}
img {
    border-radius: 18px;
    border: 2px solid rgb(0, 0, 0);
}

nav ul {
    padding: 0; 
}

nav ul.menu {
    list-style: none; 
}

nav ul.menu li {
    display: inline; 
    margin-right: 15px; 
}

nav ul.menu li a {
    color: #ffffff; 
    text-decoration: none; 
}

nav ul.menu li a:hover {
    text-decoration: underline; 
}

main {
    padding: 20px; 
}

.producto-destacado, .todos-los-productos {
    margin-bottom: 20px; 
    text-align: center;
}

#kukri {
 height: 200px;
}

#kerambit {
 height: 200px;
}

footer {
    background-color: rgb(32, 32, 30); 
    color: #ffffff; 
    padding: 10px; 

}

footer ul {
    padding: 0; 
}

footer ul li {
    display: inline; 
    margin-right: 15px; 
}

