/********** inicio ***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y borde en el tamaño total del elemento */
}

body {
    background-color: #f0f4f8; 
    color: #333333; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    background-color: #000000; 
    color: #ffffff; 
    padding: 20px; 
    text-align: center; 
}

nav ul {
    padding: 0; 
}

nav ul.menu {
    list-style: none; 
}

nav ul.menu li {
    display: inline; 
    margin-right: 15px; 
}

nav ul.menu li a {
    color: #ffffff; 
    text-decoration: none; 
}

nav ul.menu li a:hover {
    text-decoration: underline; 
}

main {
    padding: 20px; 
}

.producto-destacado, .todos-los-productos {
    margin-bottom: 20px; 
}

#kukri {
 height: 100px;
}

#kerambit {
 height: 100px;
}

footer {
    background-color: #262b2e; 
    color: #ffffff; 
    padding: 10px; 
    text-align: center; 
}

footer ul {
    padding: 0; 
}

footer ul li {
    display: inline; 
    margin-right: 15px; 
}

