/* body {
    font-family:"Ironwood", Arial, sans-serif ;
    background-color: #111820;
    color: #eaeaea;
}
header {
    background-color: #1e2731;
    color: #eaeaea;
}
section {
    padding: 20px;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
}
main > section > div > img {
    height: 300px;
    width: 300px;
}
.informacion > p:nth-child(3) {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: #100e0b;
    color: #c15b0d;
}
#logo {
    height: 400px;
    width: 400px;
}
hr + footer {
    font-family: cursive;
}
footer {
    background-color: rgba(27, 27, 27, 0.8);
    color: #ffffff;
} */
