
section {
    padding: 20px;
}
h1 ~ p {
    color:#111010;
}
article > div > p {
    color: rgb(73, 71, 68);
}
.hoja {
    height: 300px;
    width: 400px;
}
.kerambit1 {
    width: 200px;
}

