
header {
    color: #eaeaea;
}
.restauracion {
    color: rgb(8, 8, 8);
    border: 1px solid #b40d0d;
}

.youtube {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
    background-color: black;
    text-align: center;
}
