main > section > div > img {
    height: 300px;
    width: 300px;
}
.modelos > div > table {
    color: rgb(32, 32, 31);
}
table {
    border : 100px solid rgb(36, 35, 35);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
#Kukri {
    height: 200px;
    width: 350px;
}
#Kerambit2 {
    height: 200px;
    width: 350px;
}
#Gut-Knife {
    height: 200px;
    width: 350px;
}
#Daga {
    height: 200px;
    width: 
    350;
}
#Estilete {
    height: 200px;
    width: 350px;
}
#Tanto {
    height: 200px;
    width: 350px;
}